h1{
    background-color: orange;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
}

h3{
    padding: 10px 0px;
    text-align: center;
    background-color: orangered;
    color: whitesmoke;
}

p{
    padding: 50px;
    text-align: justify;
    font-family: sans-serif;

}

.food{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 5px solid greenyellow;
    border-radius: 20px;
}

img{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
}